*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins, sans-serif;
}

body{
background:#f7f7f7;
color:#222;
line-height:1.6;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#0a7d2c;
color:white;
}

.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
}

/* HERO */

.hero{
text-align:center;
padding:60px 20px;
background:white;
}

.profile{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:15px;
}

/* SECTIONS */

section{
padding:60px 10%;
}

h2{
margin-bottom:20px;
color:#0a7d2c;
}

/* PROJECTS */

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}

.skills-grid div{
background:#e8f5e9;
padding:10px;
text-align:center;
border-radius:5px;
}

/* GALLERY */

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:10px;
}

.gallery-grid img{
width:100%;
height:200px;
object-fit:cover;
border-radius:5px;
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#0a7d2c;
color:white;
}